Lab4/Lab4_klient/Connected Services/sr/Lab4_server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Lab4_server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Lab4_server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Wyjatek7">
    <xs:sequence>
      <xs:element minOccurs="0" name="A" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="B" type="xs:int" />
      <xs:element minOccurs="0" name="Opis" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Wyjatek7" nillable="true" type="tns:Wyjatek7" />
</xs:schema>